<!DOCTYPE html>
<html lang="en">
<head>
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    {# This block allows child templates to add specific head elements #}
    {% block custom_head %}{% endblock %}
</head>
<body>

    <nav id="navbar">
        <div class="logo">
            <img src="{{ nav.navLogo }}" alt="logo">
            <div class="hidden">
                <svg class="openNav" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#fff"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <line x1="3" y1="12" x2="21" y2="12"></line>
                    <line x1="3" y1="6" x2="21" y2="6"></line>
                    <line x1="3" y1="18" x2="21" y2="18"></line>
                </svg>
                <svg class="closeNav" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#fff"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </div>
        </div>
        <ul class="nav-items mobile-nav">
            <li><a href="{{ url_for('index') }}">{{ nav.navAnchor1 }}</a></li>
            <li><a href="{{ url_for('about') }}">{{ nav.navAnchor2 }}</a></li>
            <li><a href="{{ url_for('services') }}">{{ nav.navAnchor3 }}</a></li>
            <li><a href="#">{{ nav.navAnchor4 }}</a></li>
            <li><a href="#" class='showContact'>{{ nav.navAnchor5 }}</a></li>
            <li><a href="#">{{ nav.navAnchor6 }}</a></li>
        </ul>
    </nav>

    {# This is the main content area that child templates will fill #}
    <main>
        {% block content %}{% endblock %}
    </main>

    {# Contact section - always present on every page #}
    <section class="Contact">
        <div class="Contact-conatiner">
            <div class="closeBtnCont contactCont">
                <button class="closeBtn" id="closeBtn">&times;</button>
            </div>
            <div class="headers contactCont">
                <div class="mainHeading">
                    <b><h1>Get Started Today</h1></b>
                </div>
                <div class="contact-description">
                    Book a consultant now to see how fortifund can help you reduce your risk
                </div>
            </div>
            <form class="contactCont">
                <div class="infoSection sec-cont">
                    <div class="names form-sub-cont">
                        <div class="form-final-cont">
                            <label for="firstName">First Name: </label>
                            <input type="text" id="firstName" name="first_name" required>
                        </div>
                        <div class="lname form-final-cont">
                            <label for="lastName">Last Name: </label>
                            <input type="text" id="lastName" name="last_name" required>
                        </div>
                    </div>
                    <div class="job form-sub-cont">
                        <div class="jobTitle form-final-cont">
                            <label for="jobTitle">Job Title: </label>
                            <input type="text" id="jobTitle" name="job_title" required>
                        </div>
                        <div class="CompanyName form-final-cont">
                            <label for="companyName">Company Name</label>
                            <input type="text" id="companyName" name="company_name" required>
                        </div>
                    </div>
                    <div class="ContactInfo form-sub-cont">
                        <div class="phNum form-final-cont">
                            <label for="phoneNumber">Phone number: </label>
                            <input type="text" id="phoneNumber" name="phone_number" required>
                        </div>
                        <div class="Email form-final-cont">
                            <label for="email">Email: </label>
                            <input type="email" id="email" name="email" required>
                        </div>
                    </div>
                    <div class="industryInfo form-sub-cont">
                        <div class="industry form-final-cont">
                            <label for="industry">Select Industry: </label>
                            <select name="industry" id="industry">
                                <option value="pleaseSelect">Please Select</option>
                                <option value="Automotive">Automotive </option>
                                <option value="Entertainment">Entertainment</option>
                                <option value="Agriculture">Agriculture</option>
                                <option value="Aviation">Aviation</option>
                                <option value="Construction">Construction</option>
                            </select>
                        </div>
                        <div class="EmployeeNum form-final-cont">
                            <label for="numEmployees">Number of employees: </label>
                            <input type="text" id="numEmployees" name="num_employees" required>
                        </div>
                    </div>
                </div>
                <div class="additionalDetails">
                    <label for="additionalDetails">Additional details: </label>
                    <textarea name="additional_details" id="additionalDetails"></textarea>
                </div>
                <button class="Submit">Submit</button>
            </form>
        </div>
    </section>

    <footer>
        <div class="ftr-cont">
            <div class="footer-up ftr-elem">
                <div class="ftr-lft up-elem">
                    <div class="ftr-lft-logo">
                        <img src="{{ nav.navLogo }}" alt="Fortifund Logo">
                    </div>
                    <div class="lft-links">
                        <a href="{{ footer.ftr_link1 }}" class="ftr-links"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="{{ footer.ftr_link2 }}" class="ftr-links"><i class="fa-brands fa-instagram"></i></a>
                        <a href="{{ footer.ftr_link3 }}" class="ftr-links"><i class="fa-brands fa-twitter"></i></a>
                        <a href="{{ footer.ftr_link4 }}" class="ftr-links"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="ftr-rt up-elem">
                    <div class="ftr-rt-links link-cont-1">
                        <a href="">{{ nav.navAnchor1 }}</a>
                        <a href="">{{ nav.navAnchor2 }}</a>
                        <a href="">{{ nav.navAnchor3 }}</a>
                    </div>
                    <div class="ftr-rt-links link-cont-2">
                        <a href="">{{ nav.navAnchor4 }}</a>
                        <a id='contactPage'>{{ nav.navAnchor5 }}</a>
                        <a href="#">{{ nav.navAnchor6 }}</a>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="bar"></div>
            </div>

            <div class="footer-down ftr-elem">
                <div class="term-policy term1">
                    <p class="term-sent">
                        &copy; 2025 FortiFund. All rights reserved.
                    </p>
                </div>
                <div class="term-policy term1">
                    <p class="term-sent">
                        <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a> | <a href="#">Sitemap</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <div class="backtotop">
        <button>
            <i class="fa-solid fa-chevron-up"></i>
        </button>
    </div>
    <script src="{{ url_for('static', filename='js/navbarSetting.js') }}"></script>
    <script src="{{ url_for('static', filename='js/innovationVideoControls.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ExpVideoControls.js') }}"></script>
    <script src="{{ url_for('static', filename='js/backtotop.js') }}"></script>
    <script src="{{ url_for('static', filename='js/showContact.js') }}"></script>
    {% block custom_scripts %}{% endblock %}
</body>
</html>